body{
    background-color: var(--languid-lavender);
}
img {
    width: 100%;
    height: fit-content;
}

/* explrore section is active */
.active {
    font-weight: 600;
    margin-left: auto;
    border-bottom: 0.2em solid var(--english-violet);
}

/* section 1 : explore section */
.explore-section {
    color: var(--english-violet);
    margin: 0.7em 0.7em;
    column-count: 4;
    column-gap: 1em;
}

.post {
    display: inline-block;
    line-height: 0.4em;
    margin: 0 0 1em;
    width: 100%;
}

.post p {
    font-weight: 600;
}
.post h5 {
    font-weight: 450;
}

.post p,
.post h5 {
    padding-left: 0.8em;
}
.post img {
    border-radius: 0.9em;
}

/*  Responsive */

@media screen and (max-width: 940px) {
    .explore-section {
        column-count: 3;
    }
}
@media screen and (max-width: 696px) {
    .explore-section {
        column-count: 2;
    }
}