body {
    background-color: rgba(205, 153, 147, 0.132);
}

/* Section 1: Post view*/
.post-view {
    width: 70%;
    height: max-content;
    column-count: 2;
    column-gap: 1em;
    margin: 1em auto;
    box-shadow: 12px 13px 36px -11px rgba(74, 47, 95, 0.6);
    border-radius: 0.8em;
}

.post-img {
    grid-row: 1 / 2;
}
.post-img img {
    width: 100%;
    height: 100%;
    border-radius: 0.8em 0 0 0.8em;
}

.post-view-grid {
    overflow: hidden;
    display: grid;
    grid-template-rows: auto auto auto;
    justify-content: space-around;
    padding: 1em 0 0 1em;
}

.post-body h5 {
    color: var(--english-violet);
}
.comment-block details:not([close]) summary {
    margin-bottom: 2em;
}
.comment-block details[open] summary {
    margin-bottom: 0;
}

.your-cm details[open] div {
    height: 90%;
    overflow-y: scroll;
}

.your-cm ul {
    list-style-type: none;
}

.your-cm h5 {
    display: inline-block;
    margin-bottom: 0;
}
.your-cm p {
    display: inline-block;
    margin-bottom: 0;
    font-size: 0.8em;
}

.add-cm input,
.add-cm button {
    height: 2em;
    color: var(--independence);
    font-size: 1.1em;
}
.add-cm input {
    width: 70%;
    border-radius: 1em;
    padding-left: 0.7em;
}
.add-cm button {
    cursor: pointer;
    border: 0;
    width: 4em;
    color: var(--english-violet);
    font-weight: 600;
    background-color: var(--languid-lavender);
}

/* Responsive */
@media screen and (max-width: 1300px) {
    .post-view {
        width: 50%;
        display: grid;
        grid-template-rows: fit-content auto;
    }
    .post-img {
        height: max-content;
    }
    .post-img img {
        border-radius: 0.8em 0.8em 0 0;
    }
}

@media screen and (max-width: 900px) {
    .post-body h2 {
        font-size: 1.2em;
    }
    .post-body p {
        font-size: 0.9em;
    }
    .post-body h5 {
        font-size: 0.9em;
    }
    .add-cm{
        margin-bottom: 1.5em;
    }
}
