body{
    background-color: rgba(205, 153, 147, 0.132);
}
.nav-bar {
    width: 100%;
    display: grid;
    /* grid-template-columns: logo search-bar sign-up log-in; */
    grid-template-columns: 25% 62% 6% 7%;
    background-color: var(--pink-lavender);
}
.logo {
    font-size: 1.12em;
    font-weight: bolder;
}

.signUp {
    margin-right: 0.3em;
    margin-left: 0.3em;
}

.logIn {
    margin-left: 0.3em;
}

.signUp,
.logIn {
    color: var(--independence);
    font-weight: 600;
    margin-top: 0.5em;
    background-color: var(--languid-lavender);
}

.signUp:hover,
.logIn:hover {
    transition: calc(var(--delay) / 5) ease-in-out;
    color: var(--english-violet);
    background-color: var(--pink-lavender);
}

/* Search-bar */
.search-bar form {
    width: 80%;
    margin: 0.7em;
    position: relative;
    background: var(--color-brand);
    border-radius: 0.7em;
}

.search-bar input,
.search-bar button {
    height: 2em;
    border: 0;
    color: var(--independence);
    font-size: 1.1em;
}

.search-bar input[type="search"] {
    outline: 0;
    width: 100%;
    padding: 0 1.6rem;
    border-radius: 0.7em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: all calc(var(--delay) / 5) cubic-bezier(0, 0, 0.43, 1.49);
    transition-property: width, border-radius;
    z-index: 1;
    position: relative;
}

.search-bar button {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 6em;
    font-weight: 600;
    background: var(--languid-lavender);
    border-radius: 0 0.7em 0.7em 0;
}

.search-bar input:not(:-moz-placeholder-shown) {
    border-radius: 0.7em 0 0 0.7em;
    width: calc(100% - 6em);
}

.search-bar input:not(:-ms-input-placeholder) {
    border-radius: 0.7em 0 0 0.7em;
    width: calc(100% - 6em);
}

.search-bar input:not(:placeholder-shown) {
    border-radius: 0.7em 0 0 0.7em;
    width: calc(100% - 6em);
}
.search-bar input:not(:-moz-placeholder-shown) + button {
    display: block;
}
.search-bar input:not(:-ms-input-placeholder) + button {
    display: block;
}
.search-bar input:not(:placeholder-shown) + button {
    display: block;
}

/* Section 1: Post view*/
.post-view {
    width: 70%;
    height: 100vh;
    column-count: 2;
    column-gap: 1em;
    margin: 1em auto;
    box-shadow: 12px 13px 36px -11px rgba(74, 47, 95, 0.6);
    border-radius: 0.8em;
}

.post-img {
    height: 100%;
    grid-row: 1 / 2;
}
.post-img img {
    width: 100%;
    height: 100%;
    border-radius: 0.8em 0 0 0.8em;
}

.post-view-grid {
    overflow: hidden;
    display: grid;
    grid-template-rows: auto auto 20%;
    justify-content: space-around;
    padding: 1em 0 0 1em;
}

.post-body h5{
    color: var(--english-violet);
}
.comment-block details:not([close]) summary{
    margin-bottom: 2em;
}
.comment-block details[open] summary{
    margin-bottom: 0;
}

.your-cm details[open] div{
    height: 90%;
    overflow-y: scroll;
}

.your-cm ul {
    list-style-type: none;
}

.your-cm h5 {
    display: inline-block;
    margin-bottom: 0;
}
.your-cm p {
    display: inline-block;
    margin-bottom: 0;
    font-size: 0.8em;
}

.add-cm input,
.add-cm button {
    height: 2em;
    color: var(--independence);
    font-size: 1.1em;
}
.add-cm input {
    width: 70%;
    border-radius: 1em;
    padding-left: 0.7em;
}
.add-cm button {
    cursor: pointer;
    border: 0;
    width: 4em;
    color: var(--english-violet);
    font-weight: 600;
    background-color: var(--languid-lavender);
}
