:root {
    --languid-lavender: #e7d5ebff;
    --pink-lavender: #d4b6e2ff;
    --tuscany: #cd9993ff;
    --periwinkle-crayola: #c3ccf1ff;
    --shadow-blue: #7895b4ff;
    --independence: #3c4960ff;
    --english-violet: #4a2f5fff;
    --delay: 2s;
    scroll-behavior: smooth;
}
html {
    color: var(--independence);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans",
        "Droid Sans", "Helvetica Neue", Helvetica, "Hiragino Kaku Gothic Pro", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 17px;
    direction: ltr;
    scrollbar-color: var(--english-violet) var(--independence);
    scrollbar-width: 0.5em;
}
body {
    margin: 0;
}
::-webkit-scrollbar {
    width: 0.5em;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--independence);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--english-violet);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--independence);
}

h1 {
    font-size: 3.5em;
}
a {
    margin: 0.7em;
    text-decoration: none;
    color: var(--english-violet);
}

.button {
    padding: 0.4em;
    border-radius: 0.8em;
    text-align: center;
}
